.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}
.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.visual_button {
  width: 195px;
}